#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mapcontainer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 260px;
}

body .ui.visible.left.sidebar~.fixed,
body .ui.visible.left.sidebar~.pusher {
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

.fullscreen #gofullscreen {
    display: none;
}

#gofullscreen {
    margin: 15px;
}

@media all and (max-width:800px) {
  #sidebar{
      display:none;
    }
    #mapcontainer {
      -webkit-transform: initial;
      transform: initial;
    }
}

@media all and (min-width:801px) {
  #sidebar{
      display:block;
    }
}

#layer-icon {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}


#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    /*display: none;*/
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
