#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mapcontainer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 260px;
}

body .ui.visible.left.sidebar~.fixed, 
body .ui.visible.left.sidebar~.pusher {
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

.fullscreen #gofullscreen {
    display: none;
}

#gofullscreen {
    margin: 15px;
}

@media all and (max-width:800px) {
  #sidebar{
      display:none;
    }
    #mapcontainer {
      -webkit-transform: initial;
      transform: initial;
    }
}

@media all and (min-width:801px) {
  #sidebar{
      display:block;
    }
}
