#map {
  width: 100%;
  height: 600px;
}
@media all and (max-width:800px) {
  #sidebar{
      display:none;
    }
    #mapcontainer {
      -webkit-transform: initial;
      transform: initial;
    }
}

@media all and (min-width:801px) {
  #sidebar{
      display:block;
    }
}
